* {
	box-sizing: border-box;
}
html {
	font-size: 16px;
}
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
/* Header */
.header--dark {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 2rem;
	background-color: rgb(51, 57, 64);
	padding: 0 1.5rem;
	height: 5rem;
	color: rgb(236, 236, 236);
}
.header__title {
	display: inline;
	font-size: 2rem;
}
.header__search {
	display: inline;
	padding: 0;
}
.search__input {
	transition: border-color .15s;
	outline: none;
	border: 1px solid white;
	border-radius: 4px 0 0 4px;
	padding: 0.375rem 0.75rem;
	font-size: 1.2rem;
}
.search__input:focus {
	border-color: rgb(128, 189, 255);
}
.search__btn {
	margin: -0.3rem;
	outline: none;
	border: 1px solid rgb(0, 123, 255);
	border-radius: 0 4px 4px 0;
	background-color: rgb(0, 123, 255);
	padding: 0.375rem 0.75rem;
	font-size: 1.2rem;
}
.search__btn i {
	color: white;
	font-size: 1.2rem;
}
/* Main */
.main-container {
	display: flex;
}
.left-sidebar {
	width: 17%;
}
.content {
	padding: 2rem;
	width: 83%;
}
.content h1 {
	margin: 0 0 .5rem 0;
	font-size: 4rem;
}
.main__nav {
	background-color: rgb(33, 37, 41);
	color: rgba(255, 255, 255, .5);
}
.nav__ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav__header {
	color: rgba(255, 255, 255, .3);
}
.nav__ul li {
	padding: 1.8rem 1.5rem;
	font-size: 1.7rem;
}
.nav__ul li.nav__header {
	padding-bottom: 0;
	text-transform: uppercase;
	font-size: 1rem;
}
.nav__ul li:nth-child(2) {
	color: white;
}
.nav__ul li:last-child {
	padding-bottom: 13.5rem;
}
.nav__ul i {
	margin-right: .8rem;
}
.main__breadcrumb {
	border-radius: .25rem;
	background-color: rgb(233, 236, 239);
	padding: 1rem 1.5rem;
	color: rgba(0, 0, 0, .5);
	font-size: 1.7rem;
}
.main__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 2.5rem 0;
}
.main__card {
	display: flex;
	flex-direction: column;
	border-radius: 0.5rem;
	width: 22.3rem;
	height: 11rem;
	overflow: hidden;
	color: white;
}
.card__top {
	transition: background-color .3s;
	border-bottom: 1px solid rgba(0, 0, 0, .07);
	border-radius: .25rem .25rem 0 0;
	padding-left: 2rem;
	height: 60%;
	line-height: 7.1rem;
	font-size: 1.5rem;
}
.card__bottom {
	transition: background-color .3s;
	border-radius: 0 0 .25rem .25rem;
	padding-left: 2rem;
	height: 40%;
	line-height: 5rem;
	font-size: 1.2rem;
}
.card__bottom span {
	padding-left: 11rem;
	font-weight: bold;
	user-select: none;
}
.card__top:hover,
.card__bottom:hover {
	background-color: rgba(0, 0, 0, .2);
}
.main__card--blue {
	background-color: rgb(0, 123, 255);
}
.main__card--yellow {
	background-color: rgb(255, 193, 7);
}
.main__card--green {
	background-color: rgb(40, 167, 69);
}
.main__card--red {
	background-color: rgb(220, 53, 69);
}
